<!DOCTYPE html>
<html lang="es">

<head>
    <title> Preguntas - FaceBluff </title>
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/styleQuestions.css" media="screen">
    <meta charset="utf-8" />
</head>

<body>
    <div class="top">
        <img id="LogoImg" src="img/Logo.png" alt="logo">
        <div class="botonesArriba">
            <a href="/my_profile">Perfil</a>
            <a href="/friends">Amigos</a>
            <a href="/questions">Preguntas</a>
            <a href="/logout">Desconectar</a>
            <label>
                <img class="iconoPerfil" src="/imagenUsuario/<%=user.image%>" alt="fotoPerfil">
                <%= user.points %>
            </label>
        </div>
    </div>
    <div class="solicitudes">
        <div>
            <p>
                <%=answers[0].questName%>
            </p>
        </div>
        <form method="POST" action="/ans_question">
            <ul>
                <div>
                    <input name="questionId" type="hidden" value="<%=answers[0].questId%>">
                    <%answers.forEach(ans=>{%>
                        <li class="preguntasAleatorias">
                            <input class="pregunta" name="ansId" type="radio" value='<%=ans.ansId%>'>
                            <%=ans.ansText%>
                        </li>
                        <% }); %>
                            <div>
                                <li class="preguntasAleatorias">
                                    <div class=anadir>
                                        <input for="forAnsText" class="pregunta" name="ansId" type="radio"> Otra:
                                        <input name="ansText" type="text" id="forAnsText" class="rellenar">
                                    </div>
                                </li>
                            </div>
                </div>
            </ul>
            <input class="boton" type="submit" value="Responder">
        </form>
        <% let errorMsg = getFlash(); %>
            <% if (errorMsg) { %>
                <div class="error">
                    <%= errorMsg %>
                </div>
                <% } %>
        <% if (errores.ansId) { %>
            <div class="error">
                <%= errores.ansId.msg %>
            </div>
            <% } %>
            <% if (errores.otherNotEmpty) { %>
                <div class="error">
                    <%= errores.otherNotEmpty.msg %>
                </div>
                <% } %>
    </div>
</body>

</html>