<!DOCTYPE html>
<html lang="es">

<head>
    <title> Preguntas - FaceBluff </title>
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/styleQuestions.css" media="screen">
    <meta charset="utf-8" />
</head>

<body>
        <%- include("headerIn") %>
    <div class="solicitudes">
        <div>
            <p>
                <%=answers[0].questName%>
            </p>
        </div>
        <form method="POST" action="/ans_question">
            <ul>
                <div>
                    <input name="questionId" type="hidden" value="<%=answers[0].questId%>">
                    <%answers.forEach(ans=>{%>
                        <li class="preguntasAleatorias">
                            <input class="pregunta" id="<%=ans.ansId%>" name="ansId" type="radio" value='<%=ans.ansId%>'>
                            <label for="<%=ans.ansId%>"><%=ans.ansText%></label>
                        </li>
                        <% }); %>
                            <div>
                                <li class="preguntasAleatorias">
                                    <div class=anadir>
                                        <input id="forAnsText" class="pregunta" name="ansId" type="radio"> <label for="forAnsText">Otra:</label>
                                        <input name="ansText" type="text" class="rellenar">
                                    </div>
                                </li>
                            </div>
                </div>
            </ul>
            <input class="boton" type="submit" value="Responder">
        </form>
        <% let errorMsg = getFlash(); %>
            <% if (errorMsg) { %>
                <div class="error">
                    <%= errorMsg %>
                </div>
                <% } %>
        <% if (errores.ansId) { %>
            <div class="error">
                <%= errores.ansId.msg %>
            </div>
            <% } %>
            <% if (errores.otherNotEmpty) { %>
                <div class="error">
                    <%= errores.otherNotEmpty.msg %>
                </div>
                <% } %>
    </div>
</body>

</html>