<!DOCTYPE html>
<html lang="es">

<head>
    <title> Perfil de
        <%=friend.name%>- Facebluff </title>
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/styleMyProfile.css" media="screen">
    <meta charset="utf-8" />
</head>

<body>
    <div class="top">
        <img id="LogoImg" src="img/Logo.png" alt="logo">
        <div class="botonesArriba">
            <a href="/my_profile">Perfil</a>
            <a href="/friends">Amigos</a>
            <a href="/questions">Preguntas</a>
            <a href="/logout">Desconectar</a>
            <label>
                <img class="iconoPerfil" src="/imagenUsuario/<%=user.image%>" alt="fotoPerfil">
                <%= user.points %>
            </label>
        </div>
    </div>
    <div class="perfil">
        <p>Perfil de
            <%= friend.name %>
        </p>

        <div class="userData">
            <img class="fotoPerfil" src="/imagenUsuario/<%=friend.image%>" alt="fotoPerfil">
            <p class="nombre">
                <%= friend.name %>
            </p>
            <% if (friend.dateOfBirth !== null) { %>
                <p class="datos">
                    <%= friend.age %> años </p>
                <% } %>
                    <!--hacer funcion para calcular la edad(profe dijo que con el tema 6 se podia)-->
                    <p class="datos">
                        <% if(friend.gender !== null){ %>
                            <% if(friend.gender==="male"){ %>
                                Hombre
                                <% } else if(friend.gender==="female"){ %>
                                    Mujer
                                    <% } else { %>
                                        No identificado
                                        <% } %>
                                            <% } %>

                    </p>
                    <p class="datos">
                        <%= friend.points%> puntos</p>
        </div>
        <% if(friend.status === 1){ %>
            <form method="POST" action="/deleteFriend">
                <input type="hidden" name="friendId" value="<%=friend.id%>">
                <input class="botonEliminar" type="submit" value="Eliminar amigo">
            </form>
            <%} else if(friend.status === 0){ %>
                <form method="POST" action="/discardFriend">
                    <input type="hidden" name="friendId" value="<%=friend.id%>">
                    <input class="botonEliminar" type="submit" value="Descartar petición">
                </form>
                <% } %>
    </div>
</body>

</html>