<!DOCTYPE html>
<html lang="es">

<head>
    <title> Preguntas - FaceBluff </title>
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/styleQuestions.css" media="screen">
    <meta charset="utf-8" />
</head>

<body>
        <%- include("headerIn") %>
    <div class="solicitudes">
        <div>
            <p>
                <%=question[0].question%>
            </p>
        </div>
        <form method="POST" action="/ans_guess">
            <ul>
                <div>
                    <%question.forEach(ans=>{ %>
                        <li class="preguntasAleatorias">
                            <input class="pregunta" id='<%=ans.answerId%>' name="ansId" type="radio" value='<%=ans.answerId%>'>
                            <label for='<%=ans.answerId%>'><%=ans.answer%></label>
                        </li>
                        <% }); %>
                </div>
            </ul>
            <input name="correctId" type="hidden" value='<%=correct.answer %>'>
            <input name="idFriend" type="hidden" value='<%=correct.friendId%>'>
            <input class="boton" type="submit" value="Responder">
        </form>

    </div>
</body>

</html>