<!DOCTYPE html>
<html lang="es">

<head>
    <title> Modificar Perfil - Facebluff </title>
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/styleNewUser.css" media="screen">
    <meta charset="utf-8" />
</head>

<body>
        <%- include("headerIn") %>

    <div class="login">
        <p>Modificar usuario</p>
        <div class="recuadro">
            <form method="POST" action="/modify" enctype="multipart/form-data">
                <!-- Contenido del formulario -->
                <div>
                    <label for="formEmail">Email </label>
                    <input class="rellenar" type="email" name="email" id="formEmail" value='<%= user.email %>'>
                </div>
                <div>
                    <label for="formContraseña">Contraseña </label>
                    <input class="rellenar" type="password" name="password" id="formContraseña" value='<%= user.password %>'>
                </div>
                <div>
                    <label for="formNombre"> Nombre completo </label>
                    <input class="rellenar" type="text" name="name" id="formNombre" value='<%= user.name %>'>
                </div>
                <div>
                    <label> Sexo </label>
                    <label class="datoSexo">
                            <% if(user.gender !== null){ %>
                                <% if(user.gender==="male"){ %>
                                    <input type="radio" id="formMale"name="gender" value="male" checked> <label for="formMale">Masculino</label>
                                    
                                    <input type="radio" id="formFemale" name="gender" value="female"> <label for="formFemale">Femenino</label> 
                                    
                                    <input type="radio" id="formOther" name="gender" value="other"> <label for="formOther">Otro</label>
                                <% } else if(user.gender==="female"){ %>
                                    <input type="radio" id="formMale"name="gender" value="male"> <label for="formMale">Masculino</label>
                                    
                                    <input type="radio" id="formFemale" name="gender" value="female" checked> <label for="formFemale">Femenino</label> 
                                    
                                    <input type="radio" id="formOther" name="gender" value="other"> <label for="formOther">Otro</label>
                                <% } else { %>
                                    <input type="radio" id="formMale"name="gender" value="male"> <label for="formMale">Masculino</label>
                                    
                                    <input type="radio" id="formFemale" name="gender" value="female"> <label for="formFemale">Femenino</label> 
                                    
                                    <input type="radio" id="formOther" name="gender" value="other" checked> <label for="formOther">Otro</label>
                                <% } %>
                            <% } %>
                    </label>
                </div>
                <div>
                    <label for="formFecha"> Fecha de nacimiento </label>
                    <input class="datoFecha" type="date" name="date" id="formFecha" value='<%= user.dateOfBirth %>'>
                </div>
                <div>
                    <label for="img"> Imagen de perfil </label>
                    <!-- NO SE PUEDE PONER UN VALUE EN TYPE:FILE POR RAZONES DE SEGURIDAD-->
                    <input class="datoImagen" name="uploadedfile" type="file" accept="image/*" value='<%= user.image %>'>
                </div>
                <div>
                    <input class="boton" type="submit" value="Modificar">
                </div>
                
            </form>
        </div>
        <% let mensaje = getFlash(); %>
        <% if (mensaje) { %>
            <div class="error">
                <%= mensaje %>
            </div>
        <% } %>
        <% if (errores.email) { %>
            <div class="error">
                <%= errores.email.msg %>
            </div>
        <% } %>
        <% if (errores.password) { %>
            <div class="error">
                <%= errores.password.msg %>
            </div>
        <% } %>
        <% if (errores.name) { %>
            <div class="error">
                <%= errores.name.msg %>
            </div>
        <% } %>
        <% if (errores.gender) { %>
            <div class="error">
                <%= errores.gender.msg %>
            </div>
        <% } %>
        <% if (errores.date) { %>
            <div class="error">
                <%= errores.date.msg %>
            </div>
        <% } %>
    </div>
</body>

</html>
