<!DOCTYPE html>
<html lang="es">

<head>
    <title> Pregunta - Facebluff </title>
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/styleQuestions.css" media="screen">
    <link rel="stylesheet" href="css/styleFriends.css" media="screen">
    <meta charset="utf-8" />
</head>

<body>
    <div class="top">
        <img id="LogoImg" src="img/Logo.png" alt="logo">
        <div class="botonesArriba">
            <a href="/my_profile">Perfil</a>
            <a href="/friends">Amigos</a>
            <a href="/questions">Preguntas</a>
            <a href="/logout">Desconectar</a>
            <label>
                <img class="iconoPerfil" src="/imagenUsuario/<%=user.image%>" alt="fotoPerfil">
                <%= user.points %>
            </label>
        </div>
    </div>

    <div class="login">
        <p>
            <%=quest.text%>
        </p>
        <% if (!answered) { %>
            <div>
                <p class="mensaje">No has contestado a esta pregunta.</p>
                <form method="GET" action="/ans_question">
                    <input type="hidden" name="question_id" value="<%=quest.id%>">
                    <input class="boton" type="submit" value="Contestar pregunta">
                </form>
            </div>
            <% } else { %>
                <div>
                    <p class="mensaje">Ya has contestado a esta pregunta.</p>
                </div>
                <% } %>

    </div>
    <div class="guessQuest">
        <% if (friend.length > 0){ %>
            <div>
                <p class="mensajeGuess">Los siguientes amigos han contestado a esta pregunta:</p>
            </div>
            <ul>
                <% friend.forEach(fr => { %>
                    <li>
                        <div class="listAmigo">
                            <div class="userData">
                                <img class="fotoAmigo" name="imagen" src="/imagenUsuario/<%=fr.image%>" alt="fotoPerfil" value=<%friend.image%> >
                                <form method="GET" action="/friendProfile">
                                    <input type="hidden" name="friendId" value="<%=fr.userId%>">
                                    <input class="nombre" type="submit" value="<%= fr.name %>">
                                </form>

                                <p>AnswerID del amigo (la correcta) <%=fr.answerId%></p>

                                <% if (fr.correct === 0) {%>
                                    <p class="fallo"> Has fallado</p>
                                    <% } else if (fr.correct === 1) { %>
                                        <p class="acierto"> Has acertado</p>
                                        <% } else { %>
                                            <form method="GET" action="/ans_guess">
                                                <input type="hidden" name="friendId" value=<%=friend.userId %> >
                                                <input type="hidden" name="question_id" value=<%=quest.id%> >
                                                <input class="botonAmigo" value="Adivinar" type="submit">
                                            </form>
                                            <% } %>


                            </div>
                        </div>
                    </li>
                    <% });%>
            </ul>

            <% } else { %>
                <div>
                    <p class="mensajeGuess">Ningún amigo ha contestado aún.</p>
                </div>
                <% } %>
    </div>
</body>

</html>