<!DOCTYPE html>
<html lang="es">

<head>
    <title> Búsqueda - FaceBluff </title>
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/styleFriends.css" media="screen">
    <meta charset="utf-8" />
</head>

<body>
        <%- include("headerIn") %>
    <div class="solicitudes">
        <div>
            <p>Resultado de búsqueda "
                <%=nombre%>"</p>
            <ul>
                <% list.forEach(list => { %>
                    <li>
                        <div class="listAmigo">
                            <div class="userData">
                                <img class="fotoAmigo" name="imagen" src="/imagenUsuario/<%=list.image%>" alt="fotoPerfil" value=<%list.image%> >
                                   
                                <form method="GET" action="/friendProfile">
                                    <input type="hidden" name="friendId" value="<%=list.user_id%>">
                                    <input class="nombre" type="submit" value="<%= list.name %>">
                                </form>
                            </div>
                            
                            <% if (list.tieneRelacion !== 0 && list.tieneRelacion !== 1) { %>
                                <% if (id !== list.user_id) { %>
                                    <form method="POST" action="/sendFriendRequest">
                                        <input type="hidden" name="friendId" value=<%=list.user_id %> >
                                        <input class="botonAmigo" value="Solicitar amistad" type="submit">
                                    </form>
                                    <% } %>
                                        <% } %>
                        </div>
                    </li>
                    <% }); %>
            </ul>
        </div>
    </div>
</body>

</html>